#title {
    text-align: center;;
    color: rgb(110, 9, 9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-decoration: underline;
}


.calc_background {
    width: 440px;
    height: 350px;
    margin: auto;
    border: 3px solid rgb(22255, 180, 90);
    background-color: #fadcb4;
    border-radius: 5px;
    padding: 20px;
}

.number {
    width: 60px;
    background-color: rgb(255, 228, 107);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(22255, 180, 90);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.option{
    width: 60px;
    background-color: rgb(110, 9, 9);
    color: white;
    border: 3px solid rgb(159, 44, 12)k;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    text-align: center; 
}

#bar {
    width: 350px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(22255, 180, 90);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#equal{
    width: 60px;
    background-color: rgb(217, 77, 38);
    color: white;
    border: 3px solid rgb(110, 9, 9);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

body
{
    background-color: rgb(235, 228, 222);
}